*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
body{
    background-color: #000;
}
.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    z-index: 1000000;
}
.container .head img{
    width: 13%;
}

.container .head select{
     text-align: right;
     padding: 8px 18px;
     /* padding: 6px 0 6px 20px; */
     /* margin: 0 0 0 75rem; */
     /* margin-left: 500px; */
     position: absolute;
     border-radius: 6px;
     background: transparent;
     color: #fff;
     margin-right: 10px;
}

div .select{
    position: relative;
    left:35rem;
    bottom: 1rem;
}
.container .head div.select svg{
    height: 20px;
    fill: #fafafa;
    position: absolute;
    margin-top: 7px;
    margin-left: 4px;
    /* margin-left: 500px; */
}
.container .head a{
    color: #fff;
    text-decoration: none;
    background-color: #E50914;
    padding: 7px 18px;
    border-radius: 3px;
}

input::placeholder{
    font-size: 15px;
    margin-left: 10px;
    padding: 12px;
}
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index:  1;
    background: linear-gradient(to bottom, #000, transparent);

}
.banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index:  1;
    background: linear-gradient(to top, #000, transparent);
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner .box .heading h2{
    font-size: 50px;
    color: #fff;
    letter-spacing: 6px;
    width: 80%;
}
.banner .box .heading h5{
    font-size: 26px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 16px 0;
}
.banner .box .heading p{
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner .box .search input{
    font-size: 16px;
    border: 1px solid gray;
    outline: none;
    color: #000;
    padding: 10px 10px 0 0;
    border-radius: 2px;
    min-width: 400px;
    height: 60px;
    align-items: center;
    
}
.banner .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background-color: #E50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 26px;
    line-height: 60px;
    min-width: 310px;
    padding: 0 30px;
}

/* movie part */

.story1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
    border: 9px solid #111;
}
.story1 .talk{
    width: 40%;
}
.story1 .talk h1{
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    margin: 0px 0px 8px;
    color: #fff;
}
.story1 .talk p{
    font-size: 27px;
    color: #fff;
}
.story1 .img{
    width: 45%;
}
.story1 img{
    width: 100%;
}
.story1 video {
    position: relative;
    bottom: 450px;
    left: 106px;
    object-fit: cover;
    z-index: -1;
    width: 55.5vh;
}
.story1 .video2{
    position: relative;
    bottom: 527px;
    left: 149px;
    object-fit: cover;
    z-index: -1;
    width: 50vh;
}

/* ======== */

.story2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px 64px;
    border: 9px solid #111;

}
.story2 .talk{
    width: 48%;
}
.story2 .talk h1{
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    margin: 0px 0px 8px;
    color: #fff;
}
.story2 .talk p{
    font-size: 27px;
    color: #fff;
}
.story2 .img{
    width: 45%;
}
.story2 img{
    width: 100%;
}

/* question */

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}
.question h1{
    color: #fff;
    font-size: 47px;
    padding: 47px 0 64px 0;
}
.title{
    background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;
}

.icon{
    width: 20px;
    position: relative;
}
.icon::before, .icon::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    top: -1.5px;
    background: #fff;
    
}
.icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
}
.text{
    background: #303030;
    line-height: 35px;
    margin: 3px 0;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    height: 0;
    opacity: 0;
}
.qst:target .text{
    opacity: 1;
    height: auto;
    padding: 20px 30px;
    margin: 0;
    border-top: 2px solid black;
    margin-bottom: 6px;
}
.qst:target .icon::after{
    transform: rotateY(360deg);
    
}
/* --end-- */

.banner1 .box{
    margin: 64px 0;  
}
.banner1{
    border-bottom:9.6px solid #111;
}
.banner1 .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner1 .box .heading p{
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}
.banner1 .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner1 .box .search input{
    font-size: 16px;
    border: 1px solid gray;
    outline: none;
    color: #000;
    padding: 10px 10px 0 0;
    border-radius: 2px;
    min-width: 400px;
    height: 60px;
    align-items: center;
    
}
.banner1 .box .search a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    background-color: #E50914;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    font-size: 26px;
    line-height: 60px;
    min-width: 310px;
    padding: 0 30px;
}
 /* --footer- */



.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 64px 0;
}

.footer .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 45%;
   
}

.footer .first li{
    padding: 12px 0;
}
.footer .first li a{
    color: #737373;
    text-decoration: none;
}
.footer .first li a:hover{
    border-bottom: 1px solid #ccc;
}
.footer .headng.top{
    margin: 0 0 30px;
    padding: 0;
}
.top a{
    color: #737373;
}
.footer p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #737373
}



@media screen and (max-width:787px){

    .container .head{
        padding: 20px 50px;
    }
    .container .head img{
        width: 20%;
    }

    .banner .box .heading h2{
        font-size: 49px;
        letter-spacing: 1.5px;
        width: 100%;
    }
    .banner .box .heading h5{
        font-size: 22px;
        padding: 13px 0;
    }
    .banner .box .heading p{
        font-size: 18px;
        padding: 13px 0;
        padding-bottom: 17px;
    }
    .banner .box .search{
        flex-direction: column;
    }
    .banner .box .search input{
        min-width: 310px;
        margin-bottom: 20px;    
    }
    .story1{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 32px 16px;
        text-align: center;
    }
    .story1 .talk{
        width: 80%;
        margin: 20px 0 30px 0;
    }
    .story1 .talk h1{
        font-size: 49px;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
        margin: 0px 0px 8px;
    }
    .story1 .talk p{
        font-size: 24px;
    }
    .story1 .img{
        width: 80%;
    }
    .story1 video {
  
        bottom: 352px;
        left: 1px;
        width:33vh;
    }
    .story1 .video2{
        bottom: 400px;
        left: 7px;
        width: 28vh;
    }
    div .select{
        left:7rem;
    }
    .story2{
        flex-direction: column;
        justify-content: center;
        padding: 32px 16px;
        text-align: center;
    }
    .story2 .talk{
        width: 80%;
        margin: 20px 0 30px 0;
    }
    .story2 .talk h1{
        font-size: 49px;
        letter-spacing: 1.5px;
        padding-bottom: 5px;
        margin: 0px 0px 8px;
    }
    .story2 .talk p{
        font-size: 24px;
    }
    .story2 .img{
        width: 80%;
    }
    .question{
        width: 80%;
    }
    .question h1{
        font-size: 41px;
        text-align: center;
    }
    .title{
        font-size: 25px;
    }
    .banner1 .box{
        margin: 64px 0;  
    }
    .banner1{
        border-bottom:9.6px solid #111;
    }
    .banner1 .box .heading p{
        font-size: 18px;
        padding: 13px 0;
        padding-bottom: 17px;
    }
    .banner1 .box .search{
        flex-direction: column;
    }
    .banner1 .box .search input{
        min-width: 310px;
        margin: 20px;     
    }
    .footer{
        flex-direction: column;
    }
    footer .first{
        width: 90%;
    }

}

@media screen and (max-width: 496px) {
    .container .head img{
        width: 23%;
    }
    .container .head select{
        margin-right: 30px;
   }
    .banner .box .heading h2{
        font-size: 45px;
        letter-spacing: 1.2px;
    }
    .banner .box .heading h5{
        font-size: 19px;
    }
    .banner .box .heading p{
        font-size: 16px;
        padding: 12px 0;
        padding-bottom: 15px;
    }
    .banner .box .search input{
        margin-bottom: 10px;    
    }
    .story1 .talk h1{
        font-size: 48px;
        letter-spacing: 1.2px;
    }
    .story1 .talk p{
        font-size: 19px;
    }
    .story1 video {
  
        bottom: 214px;
        left: -1px;
        width:19.6vh;
    }
    .story1 .video2{
        bottom: 250px;
        left: -10px;
        width: 17vh;
    }
    div .select{
        left:-1rem;
    }
    .story2 .talk h1{
        font-size: 48px;
        letter-spacing: 1.2px;
    }
    .story2 .talk p{
        font-size: 19px;
    }

    .question{
        width: 90%;
    }
    .question h1{
        font-size: 33px;
    }
    .text{
    font-size: 19px;
    }
    .title{
        font-size: 19px;
    }
    .banner1 .box .heading p{
        font-size: 16px;
    }
    .banner1 .box .search input{
        margin: 10px;     
    }
   
    
}
